.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body, html {
  
  width: 100%;

}
.peas-container {
  position: absolute; /* doesn't move with scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flowerShop-container {
  width: auto;
  height: auto;
  overflow: auto; /* allows scrolling  */
  
  
  position: relative;
  
}
.flowerShop-container img {
  display: block;
  width: auto;
  height: auto; 
  
}
.pea-plant-0, .pea-plant-1, .pea-plant-2, .pea-plant-3 {
  position: absolute;
  margin: 20px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  max-height: auto;
}

.pea-plant-0 {
  top: 150px;
  left: 200px;
}

.pea-plant-1 {
  top: 800px;
  left: 200px;
}

.pea-plant-2 {
  top: 200px;
  left: 1150px;
}

.pea-plant-3 {
  top: 550px;
  left: 700px;
}


.stats-box {
  border: 2px solid black;
  max-width: 50%;
  margin: auto;
  padding: 20px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
